@use './variables.module.scss' as vars;
@use './mixin.scss';

// 全局样式
html, body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

// 应用容器样式
#app {
  width: 100%;
  min-height: 100vh;
}